section#first h1 {
    color: blue;
    font-weight: bold;
}

.highlight {
    background-color: yellow;
    font-style: italic;
}

.highlight .highlight {
    color: blue;
}

article>p {
    border: dashed;
}

h2 {
    font-size: 0.5em;
    text-transform: uppercase;
}