body {
    background-color: black;
}

.contenu {
    position: fixed;
    color: white;
}

.popup {
    position: fixed;
    width: 300px;
    height: fit-content;
    border: solid;
    border-color: rgb(192, 41, 197);
    border-radius: 10px;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    background-color: white;
    color: black;
}

.under {
    color: white;
}

#croix {
    position: absolute;
    top: 10px;
    right: 10px;
}

#Subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
}